<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap-datepicker.css}" th:rel="stylesheet"/>
        <link th:href="@{/css/bootstrap-datepicker.standalone.css}" th:rel="stylesheet"/>
    </head>
    <body>
        <div class="container-fluid" layout:fragment="page-content">            
            <nav class="navbar navbar-light bg-light m-2">
                <h4 class="ps-3"><i class="fa-solid fa-user-tie me-2"></i>Asistencias</h4>
            </nav>
            <div class="container mt-3">
                <button type="button" class="btn btn-danger mt-4 mb-4" data-bs-toggle="modal" data-bs-target="#guardarModal" data-bs-whatever="@getbootstrap" id="nuevo">Nuevo</button>
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered" id="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombres</th>
                                    <th scope="col">Apellidos</th>
                                    <th scope="col">tipo de Documento</th>
                                    <th scope="col">Num. de Ducumento</th>
                                    <th scope="col">Programa</th>
                                    <th scope="col">Tema</th>
                                    <th scope="col" colspan="2" style="text-align: center">Asistencia</th>
                                </tr>
                            </thead>
                            <tbody>                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- MODAL Guardar-->          

            <div class="modal fade" id="guardarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">registrar asistencia</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row form-group mb-3">
                                    <label class="col-md-3 col-form-label">Nombres</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="nombres" placeholder="Nombres">
                                    </div>
                                </div>
                                <div class="row form-group mb-3">
                                    <label class="col-md-3 col-form-label">Apellidos</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="apellidos" placeholder="Apellido paterno y materno">
                                    </div>
                                </div>
                                <div class="row form-group mb-3">
                                    <label class="col-md-3 col-form-label">Tipo Doc.</label>
                                    <div class="col-md-9">
                                        <select class="form-control tipoDoc" id="tipoDoc">
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group mb-3">
                                    <label class="col-md-3 col-form-label">Num. de Documento</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="numdocu" placeholder="Número de documento">
                                    </div>
                                </div>
                                <div class="row form-group mb-3">
                                    <label class="col-md-3 col-form-label">Programa</label>
                                    <div class="col-md-9">
                                        <select class="form-control progId" id="progId">
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group mb-3">
                                    <label class="col-md-3 col-form-label">Taller:</label>
                                    <div class="col-md-9">
                                        <select class="form-control taller" id="taller">
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="guardar">Guardar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>  
            
            <!-- MODAL -->
        </div>
    </body>
</html>
